@media (max-width:768px){
    .airport-source{
        left: 10px;
        top: 95px;
        width: auto;
    }
    .airport-destination{
        left: 40px;
        top: 95px;
        width: auto;
    }
    
}
@media (min-width:1024px){
    .airport-source{
        left: 50px;
        top: 150px;
        width: auto;
    }
    .airport-destination{
        left: 300px;
        top: 150px;
        width: auto;
    }
    
} 