@media (max-width:768px) {
    .hotelbooking-main,.hotelbooking{
        flex-direction: column;
        align-items: center;
    }
    .hotelbooking-main>div,.hotelbooking div{
        width: 98vw;
        overflow-x: scroll;
    }
    .primaryparent{
        overflow-x: scroll;
    }
    .primary{
        width: 120vw;
        padding: 0;
        margin: 0;
    }
}