@media (max-width: 768px) {
    .hotel-bluedivperent{
        margin: 0;
    }
    .hotel-bluediv{
        width: 100vw;
        padding: 10px;
        overflow-x: scroll;
    }
    .hotel-bluediv>div{
        width: auto;
        margin: 0;
    }
    .before-search{
        width: auto;
    }
    .hotel, .checkin,.checkout{
        width: 30vw;
    }
    .checkout{
        padding-left: 10px;
    }
    .cityname{
        font-size: 18px;
    }
   
    .checkindetails>div{
        padding-left: 10px;
    }
    
    .guestdetails{
        width: 30vw;
    }
    .px18{
        font-size: 18px;
    }
    .populer-destionation{
        margin-left: 10px;
    }    
    .vw97{
        width: 97vw;
    }
    .app-info{
        width: 100vw;
        overflow-x: scroll;
    }
    .app-info>div{
        width: auto;
        /* overflow-x: scroll; */
    }
    .trust{
       margin-left: 28px;
    }
    .whyEaseMyTrip{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .whyEaseMyTrip div{
        width: auto;
        margin: 5px 20px;
    }
    .citylist{
        left: 0px;
        top: 150px;
    }
    .checkindate{
        left: 10px;
        top: 150px;
    }
    .checkoutdate{
        left: 80px;
        top: 150px;
    }
}